<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SortModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A32AA6841E6D52CE009B09B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A32AA69D1E6D52CE009B09B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A32AA6A81E6D52CE009B09B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
